<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>Welcome <%= name %></h1>
	<h2> Your Marks: <%= score %></h2>

	<% if(score > 90) { %>
		<p>Excellent Performance!</p>
	<% } else { %>
		<p>Keep Improving!</p>
	<% } %>
</body>
</html>
				